.img_pop-up {
  width: 60px;
}
.pop-up_title {
  margin-bottom: 5px;
}
.container_pop-up_create-habit{
  position: absolute;
  right: 10px;
  top: 85%;
  z-index: 1;
}
.container_pop-up_create-habit.show{
  animation: show_slide 10s ease forwards;
}
@keyframes show_slide{
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translate(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}

@keyframes show_slide{
  100%{
    transform: translateX(10px);
  }
  80%{
    transform: translateX(0%);
  }
  40%{
    transform: translate(10%);
  }
  0%{
    transform: translateX(100%);
  }
}
